html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
  perspective: 500px;
}

.long-section {
  scroll-snap-align: start;
  perspective: 500px;
}

.mix {
  mix-blend-mode: difference;
}
